
/* Extra padding needed with navbars */
body {
    padding-top: 45px;
    padding-bottom: 43px;
}

/* space out things in the navbar nicely */
.brand.titlebrand {
    margin-left: 0px;
}

.navbar li {
    margin-left: 10px;
    margin-right: 10px;
}

#searchForm {
    margin-right: 10px;
}

.category {
    margin-bottom: 1px;
    margin-top: 15px;
}

#everything {
    color: #000;
}


.caption {
    font-size: 11px;
}

.caption a {
    color: #333;
}

.inner-asset {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.asset {
    display: table;
    padding: 5px;
    width: 128px;
    height: 128px;
}


.preview  {
  display: inline-block;
  margin-left: 110px;
  padding: 10px;
  border: 3px solid #ddd;
}

.assetDetail dt {
    width: 90px;
}
.assetDetail dd {
    margin-left: 110px;
}
.assetDetail .btn {
    margin-left: 110px;
}


.selectedAsset {
    background-color: orange;
}

#adLoading .bar {
    width: 100%;
}

#assetDetailPanel {
    margin: -350px 0 0 -250px;
}

#assetDetailPanel .modal-body {
    max-height: 800px;
}

#adForwardBack {
    margin-left: 170px;
    margin-right: 0;
    margin-bottom: 12px;
    margin-top: -2px;
}

/* fix for dropdown appearing beneath modal*/
.dropdown-menu {
  z-index: 2000;
}

