
/* Extra padding needed with top navbar */
body {
    padding-top: 43px;
}

/* space out things in the navbar nicely */
.brand.titlebrand {
    margin-left: 0px;
}

.navbar li, .navbar input {
    margin-right: 5px;
    margin-left: 5px;
}

.pagination.pagination-in-navbar { 
    margin: 7px 0px 0px 0px;
    padding-left: 15px;
}

/*
.sidebar {
  }

.body {
}
*/