@(title: String, search: String, pagination: controllers.Application.Pagination, assets: List[models.Asset])


@renderAsset(a: models.Asset) = {    
  <li>
    <img src="@if(a.hasThumbnail) { @routes.FileServer.serve(a.thumbnail) } else { http://placehold.it/96x96 }"/>
    @{a.name}
  </li>
}

@pageLink(page: Int, text: String, nav: Boolean) = {
  <li @if(page == pagination.current) { 
        @if(nav) { class="disabled" } else { class="active" }
    } >
    <a href="@routes.Application.index(search, page)">@text</a>
  </li> 
}

@main(title) {

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand titlebrand" href="#">@{title}</a>
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li @if(search.isEmpty) { class="active" } ><a href="/">Show All</a></li> 
      <form class="navbar-form pull-left">
        <input type="text" name="search" id="search" class="span2" value="@{search}"/>
        <button type="submit" class="btn">Submit</button>
      </form>
    </ul>

@if(pagination.total > 1) {
    <div class="pagination pagination-small pull-left pagination-in-navbar">
    <ul>
        @pageLink(0, "|<", true) 
        @pageLink(math.max(pagination.current - 1,0), "<", true)
        @for(p <- pagination.min to pagination.max)  {
            @pageLink(p, (p + 1).toString, false)
        }
        @pageLink(math.min(pagination.current + 1, pagination.total), ">", true)
        @pageLink(pagination.total, ">|", true)
    </ul>
    </div> 
}
    <!-- todo: order -->
    <!--<li class="navbar-text">Order</li>-->
  </div>
</div>

<div class="container-fluid rounded">
  <div class="row-fluid">

    <div class="span2 sidebar">
      <!--Sidebar content-->
      Keywords
        <ul>
            <li>folder 1
                <ul><li>foo</li><li>bar</li><li>boing</li></ul>
            </li>
            <li>folder 2
                <ul><li>logo</li><li>bar</li><li>boing</li></ul>
            </li>
            <li>folder 3
                <ul><li>foo</li><li>bar</li><li>boing</li></ul>
            </li>
        </ul>            
    </div>

    <div class="span10 body">
        <ul>
            @for(a <- assets) { @renderAsset(a) }
        </ul>


    </div>
  </div>
</div>
    
}
