@(title: String, search: String, pagination: controllers.Application.Pagination, currentFolder: String, assets: List[models.Asset], library: models.AssetLibrary)


@listFolders(folders: List[models.AssetFolder], folderPath: String) = {
  @if(!folders.isEmpty) {
    <ul>
    @for(f <- folders) {
        @showFolder(f, folderPath + f.name + "/")
    }
    </ul>
  } 
}

@showFolder(folder: models.AssetFolder, folderPath: String) = {
    <li id="@{folderPath}">
        <a href="@routes.Application.findFolder(folderPath, 1)">@{folder.name}</a>
        @listFolders(folder.folders, folderPath)
    </li>
}

@displayName(name: String) = {
    @if(name.length > 16) {
        @{name.substring(0,16) + "..."}
    } else {
        @{name}
    }
}

@assetThumbnail(a: models.Asset) = {    
  <div class="asset pull-left">
    <div class="inner-asset">
      <a href="@routes.FileServer.serve(a.original)" rel="tooltip" title="@{a.name}">
      <img class="thumb" 
        src="@if(a.hasThumbnail) { @routes.FileServer.serve(a.thumbnail) } else { http://placehold.it/96x96 }"/>
      </a>
      <p class="caption">@displayName(a.name)</p>
    </div>
  </div>
}

@pageLink(page: Int, text: String, nav: Boolean) = {
  <li @if(page == pagination.current) { 
        @if(nav) { class="disabled" } else { class="active" }
    } >
    <a 
    href="@if(currentFolder.isEmpty) { @routes.Application.index(search, page) } else { @routes.Application.findFolder(currentFolder,page) }"
      >@text</a>
  </li> 
}



@main(title) {

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand titlebrand" href="#">@{title}</a>
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li @if(search.isEmpty && currentFolder.isEmpty) { class="active" } ><a href="/">Show All</a></li> 
      <form class="navbar-form pull-left" action="@routes.Application.index()">
        <input type="text" name="search" id="search" class="span2" value="@{search}"/>
        <button type="submit" class="btn">Submit</button>
      </form>
    </ul>

@if(pagination.total > 1) {
    <div class="pagination pagination-small pull-left pagination-in-navbar">
    <ul>
        @pageLink(1, "|<", true) 
        @pageLink(math.max(pagination.current - 1,1), "<", true)
        @for(p <- pagination.min to pagination.max)  {
            @pageLink(p, p.toString, false)
        }
        @pageLink(math.min(pagination.current + 1, pagination.total), ">", true)
        @pageLink(pagination.total, ">|", true)
    </ul>
    </div> 
}
    <!-- todo: order -->
    <!--<li class="navbar-text">Order</li>-->
  </div>
</div>

<div class="container-fluid rounded">
  <div class="row-fluid">
    <div class="span2 sidebar">
      <!--Sidebar content-->
      <h5>Folders</h5>
      <div class="tree">
        @listFolders(library.topFolder.folders, "")
      </div>
    </div>

    <div class="span10 content">
        @for(a <- assets) { @assetThumbnail(a) }
    </div>
  </div>
</div>
}
<!-- after scripts are loaded -->

<script>
jQuery(document).ready(function() {

    // replace string path with hash id for easy lookup later...
    $(".tree li").each(function(index) { $(this).attr("id", $(this).attr("id").hashCode().toString()) })

    // figure out which items we want to auto-open
    var auto_open = [];
    var currentFolder = "@{currentFolder}";
    if (currentFolder) {
        // open current folder node
        var id = currentFolder.hashCode().toString();
        console.log("opening ", id);
        // $(".tree").jstree("open_node", id, false, true);
        auto_open.push(id);
    }

    // create tree
    $(".tree").jstree({
        core: {
            "animation": 100,
            "open_parents": true,
            "initially_open": auto_open
        },
        themes: { 
            "icons" : false,
            "theme": "classic",
            "url": "/web/tree-themes/classic/style.css"
        },
        plugins: [ "themes", "html_data" ]
    });


});
</script>

<!-- footer -->       
</body>
</html>

