@(results: controllers.Application.SearchResult, title: String, search: String, currentFolder: String, library: models.AssetLibrary, individualAsset: Option[models.Asset], keywordSearch: String)(implicit request: play.api.mvc.RequestHeader)


@*******************************
 * useful functions!
 *@

@listFolders(folders: Seq[models.AssetFolder], folderPath: String) = {
  @if(!folders.isEmpty) {
    <ul>
    @for(f <- folders) {
        @showFolder(f, folderPath + f.name + "/")
    }
    </ul>
  } 
}

@showFolder(folder: models.AssetFolder, folderPath: String) = {
    <li data-folder-path="@{folderPath}" data-query-url="@routes.Application.findFolder(folderPath, 1)">
        <a href="#">@{folder.name}</a>
        @listFolders(folder.folders, folderPath)
    </li>
}

@listKeywords(keywords: Seq[String]) = {
  <ul>
  @for(key <- keywords) {
    <li data-keyword="@{key}" data-query-url="@routes.Application.index("", key, 1)">
      <a href="#">@{key}</a>
    </li>
  }
  </ul>
}

@displayName(name: String) = {
    @if(name.length > 16) {
        @{name.substring(0,16) + "..."}
    } else {
        @{name}
    }
}

@imgSrcThumbnail(attr: String, a: models.Asset) = {
  @if(a.hasThumbnail) {
    @if(util.Settings.isAdmin) {
      @{attr}="@routes.FileServer.serve(a.thumbnail)?bust=@{library.loadedAt}"
    } else {
      @{attr}="@routes.FileServer.serve(a.thumbnail)"
    }
  } else {
    @* placeholder *@
    @{attr}="http://placehold.it/96x96" width="96" height="96"
  } 
}

@imgSrcPreview(a: models.Asset) = {
  @if(a.hasThumbnail) {
    @if(util.Settings.isAdmin) {
      src="@routes.FileServer.serve(a.preview)?bust=@{library.loadedAt}"
    } else {
      src="@routes.FileServer.serve(a.preview)"
    }
  } else {
    @* placeholder *@
    src="http://placehold.it/320x320" width="320" height="320"
  } 
}

@assetThumbnail(a: models.Asset, index: Int) = {    
  <div class="asset pull-left">
    <div class="inner-asset" data-original="@{a.original}">
      @if(index < 64) {
        <img class="thumb" @imgSrcThumbnail("src", a) />
      } else {
        @* lazy load later thumbnails so we can return ALL the results and just load when scrolling *@
      <img class="thumb lazy" src="@routes.Assets.at("img/grey.gif")" @imgSrcThumbnail("data-original", a) />
      }
      <p class="caption">
        <a href="#" rel="tooltip" title="@{a.name}" data-placement="bottom">@displayName(a.name)</a>
      </p>
    </div>
  </div>
}

@showIndividualAsset(a: models.Asset) = {
  <div class="assetDetail">
    <h1 class="title">@{a.name}</h1>
    <a href="@routes.FileServer.serve(a.original)">
    <img class="preview" @imgSrcPreview(a) />
    </a>
    <dl class="dl-horizontal">
      @if(!a.description.isEmpty) {
        <dt>Description</dt>
        <dd>@{a.description}</dd>
      }
      <dt>Folder</dt>
      <dd><a href="@routes.Application.findFolder(a.folderPath,1)">@{a.folderPath}</a></dd>
      @if(!a.keywords.isEmpty) {
      <dt>Keywords</dt>
      <dd>
        @for(key <- a.keywords) {
          <a href="@routes.Application.index("",key, 1)">@key</a>, 
        }
      }
    </dl>
    <a class="btn btn-info" href="@routes.FileServer.serve(a.original)" title="Download this Asset"><i class="icon-download-alt icon-white"></i> Download</a>

      @if(util.Settings.isAdmin) {
        <a href="#editAsset" role="button" class="btn btn-warning" data-toggle="modal"><i class="icon-edit icon-white"></i> Edit Metadata</a>
      }
  </div>

 @******** Admin edit of asset metadata *****@

  @if(util.Settings.isAdmin) {
  <div id="editAsset" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Edit Metadata: @{a.name}</h3>
    </div>
    <form action="@routes.Admin.editMetadata(a.original)">
      <fieldset>
        <div class="modal-body">
          <p>You can edit the description and keywords here, it will write out to a .json file and the reload all the assets to show you changes. To share these changes with other use a version control system like Git or Subversion.</p>
          <label>Description</label>
          <textarea name="description" id="description" rows="3"  class="input-block-level">@{a.description}</textarea>
          <label>Keywords</label>
          <input type="text" name="keywords" id="keywords"  class="input-block-level" value="@{a.keywords.mkString(", ")}"/>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> Close</button>
          <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Save changes</button>
        </div>
      </fieldset>
    </form>
  </div>
  }

}



 @******** Admin mass-edit of asset metadata *****@

@if(util.Settings.isAdmin) {
<div id="massEditAsset" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mass Edit Metadata</h3>
  </div>
  <form @** action="@routes.Admin.massEditMetadata()" **@>
    <fieldset>
      <div class="modal-body">
        <p>You can add/remove keywords to multiple assets at the same time:</p>
        <label>Assets to edit</label>
        <select multiple name="assets" id="massEditAssetList" class="input-block-level">
        </select>
        <label>Keywords to add</label>
        <input type="text" name="addKeywords" id="addKeywords"  class="input-block-level"/>
        <label>Keywords to remove</label>
        <input type="text" name="removeKeywords" id="removeKeywords"  class="input-block-level"/>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> Close</button>
        <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Save changes</button>
      </div>
    </fieldset>
  </form>
</div>
}


@pageLink(page: Int, text: String, nav: Boolean) = {
  <li @if(page == results.current) { 
        @if(nav) { class="disabled" } else { class="active" }
    } >
    <a 
    href="@if(currentFolder.isEmpty) { @routes.Application.index(search, keywordSearch,page) } else { @routes.Application.findFolder(currentFolder,page) }"
      >@text</a>
  </li> 
}





@*******************************
 * the actual page starts here 
 *@

@main(title) {

@********************************
 * Navigation bar 
 *@

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand titlebrand" href="#">@{title}</a>
    <ul class="nav">
      @if(individualAsset.isEmpty) { 
      <li><div class="btn-group"> 
        <a id="selectModeBtn" class="btn" data-toggle="button" href="#" title="Enable or Disable Asset Selection">Select</a>
        <a id="selectAllBtn" class="btn" href="#"><i class="icon-plus" title="Select All Assets in current Search"></i> All</a>
        <a id="deselectAllBtn" class="btn disabled" href="#"><i class="icon-minus" title="Clear Asset selection"></i> None</a>
      </div></li>
      <li><div class="btn-group"> 
        <a id="downloadAllBtn" class="btn btn-info" href="#" title="Download all Selected Assets, or all Assets in search"><i class="icon-download-alt icon-white"></i> Download</a>
      </div></li> 
    }
    </ul>

    <form class="navbar-form pull-right form-search" action="@routes.Application.index()" id="searchForm">
      <div class="input-append">
        <input type="text" class="span3 search-query" name="search" id="search" value="@{search}" title="Type here and click Search to find assets. 'foo bar' will find assets with 'foo' and 'bar' in title, folder or keywords.">
        <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
      </div>
    </form>

  </div>
</div>


<div class="container-fluid rounded">
  <div class="row-fluid">

@*******************************
 * sidebar 
 *@

    <div class="span2 sidebar">
      <h5 class="category"><a href="/" id="everything" title="Show all Assets"><i class="icon-home"></i> Show Everything</a></h5>

      <h5 class="category"><i class="icon-folder-close"></i> Folders</h5>
      <div class="tree" id="folderTree" style="display:none;">
        @listFolders(library.topFolder.folders, "")
      </div>

      <h5 class="category"><i class="icon-tags"></i> Keywords</h5>
      <div class="tree" id="keywordTree" style="display:none;">
        @listKeywords(library.keywords)
      </div>
    </div>

@*******************************
 * actual content 
 *@

    <div class="span10 content">
@if(individualAsset.isDefined) {
    @showIndividualAsset(individualAsset.get)  
} else {     
    @for((a,i) <- results.assets.view.zipWithIndex) { @assetThumbnail(a,i) }
}
    </div>
  </div>
</div>

@******************************
 * Info bar 
 *@
<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
<p class="navbar-text" id="statusText">
  <i class="icon-info-sign icon-white"></i> 
@if(individualAsset.isDefined) {
    Showing single asset.
} else {     
    @{results.assets.length} assets found.
}    
</p>
    </ul>

    <ul class="nav pull-right">
      <li><a href="#"><i class="icon-question-sign icon-white"></i> Help</a></li>
    </ul>

@if(util.Settings.isAdmin) {
  @* show admin *@
    <ul class="nav pull-right">
      <li><div class="btn-group"> 
        <a id="massEditMetaBtn" class="btn btn-warning disabled" href="#massEditAsset" title="Edit metadata of Selected Assets"><i class="icon-edit icon-white"></i> Mass Edit</a>
        <a class="btn btn-warning" href="@routes.Admin.rescan(request.uri)" title="Reload all Assets from disk (e.g. if there are new or changed assets)"><i class="icon-refresh icon-white"></i> Rescan Library</a>
      </div></li>
    </ul>
}

  </div>
</div>

} @* end of main() call *@


@******************
 * scripts to run after other scripts are loaded ...
 * TODO: move these out to other js files to speed up loading
 *@

<script>
@* sneaky preload of tree icons *@
@*(new Image()).src = "@routes.Assets.at("tree-themes/classic/d.png")";*@

jQuery(document).ready(function() {

  // build a big lookup table from path -> node id
  var currentFolder = "@Html(currentFolder)";
  //console.log("looking for", currentFolder);
  var auto_open = [];
  var expect_select = false;
  // var nodes = [];
      
  // replace string path with hash id for easy lookup later...
  $(".tree li").each(function(index) { 
    var nodeName = $(this).attr("data-folder-path");
    var nodeId = "folder" + index;
    //nodes[ nodeName ] = nodeId; 
    $(this).attr("id", nodeId);

    if (nodeName === currentFolder) {
      auto_open.push("#" + nodeId);
      expect_select = true;
    } 
  });

  // create tree
  $("#folderTree").hide()
  .jstree({
      core: {
          "animation": 100,
          "open_parents": true
      },
      themes: { 
          "icons" : false,
          "theme": "classic",
          "url": "/web/tree-themes/classic/style.css"
      },
      ui: {
          "initially_select": auto_open
      }, 
      plugins: [ "themes",  "html_data", "ui" ]
  })
  .bind("select_node.jstree", function(e, data) {
    if (data.rslt.obj) {
      if (expect_select) {
        expect_select = false;
      } else {
        // redirect! (eventually, just submit query)
        window.location.href = data.rslt.obj.attr("data-query-url");
      }
    }
  }).show();


  var currentKeyword = "@Html(keywordSearch)";
  var keyword_to_open = [];
  var expect_keyword_select = false;
  // var keyNodes = [];

  $(".tree li").each(function(index) { 
    var nodeName = $(this).attr("data-keyword");
    var nodeId = "keyword" + index;
    //keyNodes[ nodeName ] = nodeId; 
    $(this).attr("id", nodeId);

    if (nodeName === currentKeyword) {
      keyword_to_open.push("#" + nodeId);
      expect_keyword_select = true;
    } 
  });

  $("#keywordTree").hide()
  .jstree({
      core: {
          "animation": 100
      },
      themes: { 
          "icons" : false,
          "theme": "classic",
          "url": "/web/tree-themes/classic/style.css"
      },
      ui: {
          "initially_select": keyword_to_open
      }, 
      plugins: [ "themes",  "html_data", "ui" ]
  })
  .bind("select_node.jstree", function(e, data) {
    if (data.rslt.obj) {
      if (expect_keyword_select) {
        expect_keyword_select = false;
      } else {
        // redirect! (eventually, just submit query)
        window.location.href = data.rslt.obj.attr("data-query-url");
      }
    }   
  }).show();



});
</script>

@* end page correctly *@
</body>
</html>

