@(title: String, search: String, currentFolder: String, library: models.AssetLibrary, individualAsset: Option[models.Asset], keywordSearch: String, order: String)(implicit request: play.api.mvc.RequestHeader)


@*******************************
 * useful functions!
 *@

@listFolders(folders: Seq[models.AssetFolder], folderPath: String) = {
  @if(!folders.isEmpty) {
    <ul>
    @for(f <- folders) {
        @showFolder(f, folderPath + f.name + "/")
    }
    </ul>
  } 
}

@showFolder(folder: models.AssetFolder, folderPath: String) = {
    <li data-folder-path="@{folderPath}">
        <a href="#">@{folder.name}</a>
        @listFolders(folder.folders, folderPath)
    </li>
}

@listKeywords(keywords: Seq[String]) = {
  <ul>
  @for(key <- keywords) {
    <li data-keyword="@{key}">
      <a href="#">@{key}</a>
    </li>
  }
  </ul>
}


@imgSrcPreview(a: models.Asset) = {
  @if(a.hasThumbnail) {
    @if(util.Settings.isAdmin) {
      src="@routes.FileServer.serve(a.preview)?bust=@{library.loadedAt}"
    } else {
      src="@routes.FileServer.serve(a.preview)"
    }
  } else {
    @* placeholder *@
    src="http://placehold.it/320x320" width="320" height="320"
  } 
}

@showIndividualAsset(a: models.Asset) = {
  <div class="assetDetail">
    <h1 class="title">@{a.name}</h1>
    <a href="@routes.FileServer.serve(a.original)">
    <img class="preview" @imgSrcPreview(a) />
    </a>
    <dl class="dl-horizontal">
      @if(!a.description.isEmpty) {
        <dt>Description</dt>
        <dd>@{a.description}</dd>
      }
      <dt>Type</dt>
      <dd>@{a.extension.toUpperCase}</dd>
      <dt>Folder</dt>
      <dd><a href="#">@{a.folderPath}</a></dd>
      <dt>Size</dt>
      <dd>@{a.humanSize}</dd>
      @if(!a.keywords.isEmpty) {
      <dt>Keywords</dt>
      <dd>
        @for(key <- a.keywords) {
          <a href="#">@key</a>, 
        }
      }
    </dl>
    <a class="btn btn-info" href="@routes.FileServer.serve(a.original)" title="Download this Asset"><i class="icon-download-alt icon-white"></i> Download</a>

      @if(util.Settings.isAdmin) {
        <a href="#editAsset" role="button" class="btn btn-warning" data-toggle="modal"><i class="icon-edit icon-white"></i> Edit Metadata</a>
      }
  </div>

 @******** Admin edit of asset metadata *****@

  @if(util.Settings.isAdmin) {
  <div id="editAsset" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Edit Metadata: @{a.name}</h3>
    </div>
    <form action="@routes.Admin.editMetadata(a.original)">
      <fieldset>
        <div class="modal-body">
          <p>You can edit the description and keywords here, it will write out to a .json file and then reload all the assets to show you changes. To share these changes with others use a version control system like Git or Subversion.</p>
          <label>Description</label>
          <textarea name="description" id="description" rows="3"  class="input-block-level">@{a.description}</textarea>
          <label>Keywords</label>
          <input type="text" name="keywords" id="keywords"  class="input-block-level" value="@{a.keywords.mkString(", ")}"/>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> Close</button>
          <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Save changes</button>
        </div>
      </fieldset>
    </form>
  </div>
  }

}

@changeOrderingUrl(newOrder: String) = {
  @if(!currentFolder.isEmpty) {
    "@routes.Application.listAssetsInFolder(currentFolder, newOrder)"
  } else {
    "@routes.Application.index(search, keywordSearch, newOrder)"
  }
}



@*******************************
 * the actual page starts here 
 *@

@main(title) {

@********************************
 * Navigation bar 
 *@

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand titlebrand" href="#">@{title}</a>
    <ul class="nav">
    @if(individualAsset.isEmpty) { 
      <li><div class="btn-group"> 
        <a id="selectModeBtn" class="btn" data-toggle="button" href="#" title="Enable or Disable Asset Selection">Select</a>
        <a id="selectAllBtn" class="btn" href="#"><i class="icon-plus" title="Select All Assets in current Search"></i> All</a>
        <a id="deselectAllBtn" class="btn disabled" href="#"><i class="icon-minus" title="Clear Asset selection"></i> None</a>
      </div></li>
      <li><div class="btn-group"> 
        <a id="downloadAllBtn" class="btn btn-info" href="#" title="Download all Selected Assets, or all Assets in search"><i class="icon-download-alt icon-white"></i> <span id="downloadAllBtnLabel">Download All</span></a>
      </div></li> 
      @if(util.Settings.archiveOnStart && !currentFolder.isEmpty) {
      <li><div class="btn-group"> 
        <a id="downloadFolderBtn" 
        @if(models.AssetLibrary.areFolderArchivesGenerated) {
          class="btn btn-info" href="@routes.LibraryUI.downloadFolder(currentFolder)" title="Download all Assets in this Folder"
        } else {
          class="btn btn-info disabled" href="#" title="Cannot yet downoad this folder, archives are being built - please try again later..."
        }
        ><i class="icon-download-alt icon-white"></i> Download Folder</a>
      </div></li> 
      
      }

      <li><div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Order: @{order match {
          case "time"  => "Oldest"
          case "-time" => "Newest"
          case "size"  => "Smallest"
          case "-size" => "Largest"
          case "-name" => "Z->A"
          case _       => "A->Z"
        }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href=@changeOrderingUrl("name")  >Name A-&gt;Z</a></li>
        <li><a href=@changeOrderingUrl("-name") >Name Z-&gt;A</a></li>
        <li><a href=@changeOrderingUrl("time")  >Oldest First</a></li>
        <li><a href=@changeOrderingUrl("-time") >Newest First</a></li>
        <li><a href=@changeOrderingUrl("size")  >Smallest First</a></li>
        <li><a href=@changeOrderingUrl("-size") >Largest First</a></li>
      </ul>
    </div></li>
    }
    </ul>

    <form class="navbar-form pull-right form-search" id="searchForm">
      <div class="input-append">
        <input type="text" class="span3 search-query" name="search" id="search" value="@{search}" title="Type here and click Search to find assets. 'foo bar' will find assets with 'foo' and 'bar' in title, folder or keywords."/>
        <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
      </div>
    </form>

  </div>
</div>


<div class="container-fluid rounded">
  <div class="row-fluid">

@*******************************
 * sidebar 
 *@

    <div class="span2 sidebar">
      <h5 class="category"><a href="#" id="everything" title="Show all Assets"><i class="icon-home"></i> Show Everything</a></h5>

      <h5 class="category"><i class="icon-folder-close"></i> Folders</h5>
      <div class="tree folders" id="folderTree" style="display:none;">
        @listFolders(library.topFolder.folders, "")
      </div>

      <h5 class="category"><i class="icon-tags"></i> Keywords</h5>
      <div class="tree keywords" id="keywordTree" style="display:none;">
        @listKeywords(library.keywords)
      </div>
    </div>

@*******************************
 * actual content 
 *@

    <div class="span10 content" id="results">
@if(individualAsset.isDefined) {
    @showIndividualAsset(individualAsset.get)  
} 
    </div>
  </div>
</div>

@******************************
 * Info bar 
 *@
<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
<p class="navbar-text">
  <i class="icon-info-sign icon-white"></i> 
  <span id="statusText">
@if(individualAsset.isDefined) {
    Showing single asset.
} else {     
    Library UI loading...
}    
  </span>
</p>
    </ul>

    <ul class="nav pull-right">
      <li><a href="#"><i class="icon-question-sign icon-white"></i> Help</a></li>
    </ul>

@if(util.Settings.isAdmin) {
  @* show admin *@
    <ul class="nav pull-right">
      <li><div class="btn-group"> 
        <a id="massEditMetaBtn" class="btn btn-warning disabled" href="#" title="Edit metadata of Selected Assets"><i class="icon-edit icon-white"></i> Mass Edit</a>
        <a class="btn btn-warning" href="@routes.Admin.rescan(request.uri)" title="Reload all Assets from disk (e.g. if there are new or changed assets)"><i class="icon-refresh icon-white"></i> Rescan Library</a>
      </div></li>
    </ul>
}

  </div>
</div>




 @******** Admin mass-edit of asset metadata *****@

@if(util.Settings.isAdmin) {
<div id="massEditAsset" class="modal hide fade" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mass Edit Metadata</h3>
  </div>
  <div class="modal-body">
    <p>You can add/remove keywords to multiple assets at the same time. This will write out changes to .json files and then reload all the assets to show you changes. To share these changes with others use a version control system like Git or Subversion.</p>
    <form>    
      <fieldset>
        <label>Assets to edit</label>
        <select multiple name="assets" id="massEditAssetList" class="input-block-level">
        </select>
        <label>Keywords to add</label>
        <input type="text" name="addKeywords" id="addKeywords"  class="input-block-level"/>
        <label>Keywords to remove</label>
        <input type="text" name="removeKeywords" id="removeKeywords"  class="input-block-level"/>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> Close</button>
    <button id="massEditMetaSubmitBtn" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save changes</button>
    <span id="massEditMetaProgress"></span>
  </div>
</div>
}
  
@******** mass-download dialog *********@
<div id="massDownload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Download Multiple Assets</h3>
  </div>
  <div class="modal-body">
    <p>Download multiple Assets as a single archive (zip) file. Note that this archive may take some time to build if the size of assets is large.</p>
    <form>
      <fieldset>
        <label id="massDownloadAssetLabel"></label>
        <select multiple name="assets" id="massDownloadAssetList" class="input-block-level">
        </select>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> Cancel</button>
    <button id="massDownloadSubmitBtn" class="btn btn-primary" type="submit"><i class="icon-download-alt icon-white"></i> Download Archive</button>
    <span id="massDownloadProgress"></span>
  </div>
</div>


} @* end of main() call *@


@******************
 * scripts to run after other scripts are loaded ...
 * TODO: move these out to other js files to speed up loading
 *@

@includejs("main")


<script>
jQuery(document).ready(function() {
  // get data out of the Scala world and into Javascript
  LibraryUI.init("@{order}", @{library.loadedAt}, 
    "@routes.Assets.at("tree-themes/classic/style.css")",
    "@routes.Assets.at("img/grey.gif")",
    "@Html(search)", "@Html(keywordSearch)", "@Html(currentFolder)", "@{individualAsset.isDefined}",
    @util.Settings.isAdmin);
});
</script>

@* end page correctly *@
</body>
</html>

