@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        @content

        <script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-cookie.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-jstree.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-lazyload.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-scrollstop.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.JavascriptRoutes.generateRoutes()" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.min.js")" type="text/javascript"></script>

